@if (posts.length > 0){ @if (isLoading()) {

<mat-spinner></mat-spinner>
} @else {
<mat-accordion>
  @for (post of posts; track post.id) {
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ post.description }}</p>
    <div class="image-container">
      <img [src]="post.image" [alt]="post.title" />
    </div>
    <mat-action-row>
      <button matButton [routerLink]="['/edit', post.id]">EDIT</button>
      <button matButton (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
  }
</mat-accordion>
}

<mat-paginator
  #paginator
  class="app-paginator"
  (page)="handlePageEvent($event)"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageIndex]="currentPage"
  [pageSizeOptions]="pageSizeOptions"
>
</mat-paginator>

} @else {
<p class="info-text mat-body-1">No posts found!</p>
}
