:host {
  display: block;
  margin-top: 1rem;
}
.info-text {
  text-align: center;
}
.image-container {
  width: 50%;
  /* height: 50%; */
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.app-paginator {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
  align-items: start;
}
